/*
=======================================
    Fonts
=======================================
*/
$font-primary: "Open Sans", sans-serif;
//-------------
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
//-------------
$font-size-smaller: 14px;
$font-size-body: 16px;
$font-size-subheading: 18px;
$font-size-heading: 20px;
$font-size-xl: 22px;
$font-size-xxl: 24px;
$font-size-xxxl: 26px;
//-------------
$font-lineHeight-heading: 1.3;
$font-lineHeight-body: 1.5;

/*
=======================================
    Spacing
=======================================
*/
$sizes: (
  0: 0px,
  1: 1px,
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  20: 20px,
  24: 24px,
  28: 28px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
  48: 48px,
  56: 56px,
  64: 64px,
  80: 80px,
  96: 96px,
  112: 112px,
  128: 128px,
  144: 144px,
  160: 160px,
  176: 176px,
  192: 192px,
  208: 208px,
  224: 224px,
  240: 240px,
  256: 256px,
  288: 288px,
  320: 320px,
  384: 384px,
);

/*
=======================================
    Colors
=======================================
*/
//---- Warning
$color-warning: (
  50: #fffbeb,
  100: #fef3c7,
  200: #fde68a,
  300: #fcd34d,
  400: #fbbf24,
  500: #f59e0b,
  600: #d97706,
  700: #b45309,
  800: #92400e,
  900: #78350f,
  950: #451a03,
);
//---- Grey
$color-grey: (
  50: #f9fafb,
  100: #f3f4f6,
  200: #e5e7eb,
  300: #d1d5db,
  400: #9ca3af,
  500: #6b7280,
  600: #4b5563,
  700: #374151,
  800: #1f2937,
  900: #111827,
  950: #030712,
)